<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/App"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppApplication"
        tools:targetApi="31" >
        <activity
            android:name="com.example.app.Activities.OrderSellerManagement.DeliveryManagementActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name="com.example.app.Activities.Home.ForgotActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name="com.example.app.Activities.MyShop.MyProductActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name="com.example.app.Activities.MyShop.AddProductActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name="com.example.app.Activities.Feedback.FeedBackActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name="com.example.app.Activities.Order.OrderActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name="com.example.app.Activities.MyShop.MyShopActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name="com.example.app.Activities.Order.OrderDetailActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name="com.example.app.Activities.Home.ProfileActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name="com.example.app.Activities.Cart_PlaceOrder.UpdateAddAddressActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name="com.example.app.Activities.Cart_PlaceOrder.ChangeAddressActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name="com.example.app.Activities.Cart_PlaceOrder.EmptyCartActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name="com.example.app.Activities.Cart_PlaceOrder.ProceedOrderActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name="com.example.app.Activities.Cart_PlaceOrder.CartActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name="com.example.app.Activities.Home.EditProfileActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name="com.example.app.Activities.Home.FindActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name="com.example.app.Activities.Home.LoginActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name="com.example.app.Activities.Home.IntroActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.app.Activities.Home.HomeActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" >
        </activity>
        <activity
            android:name="com.example.app.Activities.OrderSellerManagement.DetailOfOrderDeliveryManagementActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name="com.example.app.Activities.ProductInformation.ProductInfoActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <activity
            android:name="com.example.app.Activities.Home.ChatDetailActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name="com.example.app.Activities.Home.ChatActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
    </application>

</manifest>